#chartOfNumOfMatches{
    width:100%; 
    height:400px;
}

#chartOfNumOfWinsPerSeason{
    width:100%; 
    height:400px;
}

#chartOfNumOfExtraRuns2016{
    width:100%; 
    height:400px;
}

#chartOfTopEconomicalBowlers2015{
    width:100%; 
    height:400px;
}